nav {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
}
nav,
#logo,
.available,
.people,
.all {
  background-color: white;
}

@media (min-width: 768px) {
  nav {
    background-color: white;
    position: fixed;
  }
  .all {
    position: absolute;
    right: 320px;
    top: 10px;
  }
  /* .people {
    position: absolute;
    right: 220px;
    top: 10px;
  } */
  .available {
    position: absolute;
    right: 150px;
    top: 10px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  nav {
    position: sticky;
    width: 92%;
    max-width: 1282px;
    margin: 0 auto;
  }

  #logo,
  .available,
  .people,
  .all {
    position: absolute;
    top: 10px;
    font-weight: 800;
  }

  .all {
    right: 300px;
  }
  /* .people {
    right: 200px;
  } */
  .available {
    right: 150px;
  }
}
